<div class="insight-card">
  <div class="insight-card-header">
    <div class="insight-card-icon">
      {% include icon.liquid name=include.icon %}
    </div>
  </div>
  <div class="insight-card-body">
    <div class="insight-card-section">
      <div class="insight-card-content">{{ include.takeaway_1 }}</div>
    </div>
    <div class="insight-card-section">
      <div class="insight-card-content insight-card-italic">{{ include.takeaway_2 }}</div>
    </div>
  </div>
</div>
